
@{
    ViewData["Title"] = "Menu";
}

    <div class="row">
        <a href="../Conta/Index">
            <div class="col-lg-4 text-center">
                <img src="~/images/conta.png" width="200" />
                <h3>Criar Conta</h3>
            </div>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="../PlanoConta/Index">
            <div class="col-lg-4 text-center">
                <img src="~/images/planocontas.png" width="200" />
                <h3>Plano de Contas</h3>
            </div>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="../Transacao/Index">
            <div class="col-lg-4 text-center">
                <img src="~/images/registrar_transacao.png" width="200" />
                <h3>Registrar Transação</h3>
            </div>
        </a>
    </div>

    <div class="row">
        <a href="../Transacao/Extrato">
            <div class="col-lg-4 text-center">
                <img src="~/images/extrato.png" width="200" />
                &nbsp; &nbsp;<h3>Extrato</h3>
            </div>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="../Transacao/Dashboard">
            <div class="col-lg-4 text-center">
                <img src="~/images/dashboard.png" width="200" />
                <h3>Dashboard</h3>
            </div>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="../Home/Ajuda">
            <div class="col-lg-4 text-center">
                <img src="~/images/ajuda.png" width="200" />
                <h3>Ajuda</h3>
            </div>
        </a>
    </div>
