
@{
    ViewData["Title"] = "Index";
}

<h3>Minhas Contas</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Nome</th>
            <th>Saldo</th>
        </tr>
    </thead>


    @{
        foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
        {
            <tbody>
                <tr>
                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id.ToString())">Excluir</button></td>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Nome.ToString()</td>
                    <td>R$ @item.Saldo.ToString()</td>
                </tr>
            </tbody>
        }
    }

</table>

<a href="../Conta/CriarConta" style="color:aliceblue;"><button type="button" class="btn btn-block btn-primary" oneclick="CriarConta">Criar Conta</button></a>

<script>
    function Excluir(id_conta) {
        window.location.href = "../Conta/ExcluirConta/" + id_conta;
    }
</script>

